@charset "UTF-8";

* {
  background-color: #8ced8e;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #2e662f;
}

h1#principal {
  text-align: center;
  background-color: #0a450a;
  color: white;
}

h2 {
  color: #377a39;
}

.basico {
  color: #1e431f;
}

.intermediario {
  color: rgb(83, 83, 0);
}

.avancado {
  color: rgb(123, 0, 0);
}

.destaque {
  background-color: rgb(223, 223, 119);
}
